# Replace the vendor ID (VID) and model ID (PID) with the relevant values found by running lsusb 
ACTION=="add", SUBSYSTEM=="input", ENV{ID_VENDOR_ID}=="4098", ENV{ID_MODEL_ID}=="bc2a", RUN+="/usr/local/bin/joystick-init.sh"
